@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300);

* {
  margin: 0;
  padding: 0;
  font-family: Roboto Condensed, sans-serif;
}

body {
  padding: 1rem;
}

.container {
  padding: 1rem;
}

#input_text {
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  background-color: #333;
  color: whitesmoke;
  border-radius: 0.25rem;
}

.board {
  position: relative;
  background-color: #333;
  padding: 0.5rem;
  width: 12rem;
  height: 6rem;
  display: flex;
  flex-flow: row wrap;
}

.letter {
  position: absolute;
  top: 0;
  left: 0;
  color: whitesmoke;
  text-align: center;
  font-size: 2.2rem;
  width: 2rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 0.2rem;
  border: 1px solid #666;
  background-color: #333;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 1.5rem;
    background-color: #333;
    transform-origin: bottom center;
    z-index: -1;
  }
  
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2rem;
    height: 1.5rem;
    background-color: #333;
    transform: scaleY(1);
    transform-origin: bottom center;
    z-index: -1;
  }
}

.letter-wrapper {
  position: relative;
  margin: 0.1rem;
  width: 2rem;
  height: 3rem;
}

.letter.flip::before {
  z-index: 1;
  transition-duration: 0.3s;
  transform: scaleY(0);
}

.letter.flip::after {
  z-index: 1;
  transition-delay: 0.3s;
  transition-duration: 0.3s;
  transform: scaleY(0);
}
